@import "tailwindcss";

:root {
  --background: #BDC8C9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #BDC8C9;
    --foreground: #ededed;
  }
}

html,
body {
  background: #BDC8C9 !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
